*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

:root{
  --custom: #1C2025;
  --cyan: #10F0FC;
  --secondary: #302c34;
}

@keyframes right {
  0% {
    top: 20%;
    left: -80%;
  }
  20% {
    top: 40%;
    left: -70%;
  }
  40% {
    top: 30%;
    left: -30%;
  }
  60% {
    top: 70%;
    left: -10%;
  }
  80% {
    top: 0%;
    left: 100%;
  }
  100% {
    top: 20%;
    left: -80%;
  }
}

@keyframes left {
  0% {
    top: 95%;
    right: -20%;
  }
  20% {
    top: 70%;
    right: -80%;
  }
  40% {
    top: 30%;
    right: -30%;
  }
  60% {
    top: 70%;
    right: -10%;
  }
  80% {
    top: 0%;
    right: 100%;
  }
  100% {
    top: 20%;
    right: -80%;
  }
}

@keyframes pulse {
  0% {
    height: 350px;
    width: 350px;
  }
  50% {
    height: 250px;
    width: 250px;
  }
  100% {
    height: 350px;
    width: 350px;
  }
}

